<html>
    <head>
        <title>Item Details</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', path='/script.js') }}"></script>
    </head>
    <body>
        {% block header %}
            <h1>Select the place on the map</h1>
        {% endblock %}

        {% block content %}
            <div class="coordinates-container">
                <div style="margin-left: 20px;" class="left-box">
                    <h2>Latitude</h2>
                    <p>{{ latitude }}</p>
                </div>
                <div style="margin-left: 20px;" class="left-box">
                    <h2>Longitude</h2>
                    <p>{{ longitude }}</p>
                </div>
                <div class="clear-box"></div>
            </div>

        {% endblock %}

        {% extends 'map.html' %}
    </body>
    {% block javascript %}
        
    {% endblock %}
</html>


leaflet-popup-content